/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.navbar__brand {
    margin-right: 0px;
}

.navbar__logo {
    margin-right: 0;
}


/* Consolidate navbar and sidebar CSS. */
.navbar--dark {
    --ifm-navbar-background-color: #375298;
}
/* NAVBAR (full width) */
.navbar {
  background-color: #375298;
}
.navbar .navbar__link {
  color: #ffffff;
  font-weight: 400;
}
.navbar .navbar__link:hover,
.navbar .navbar__link--active {
  color: #ffffff !important;
  text-decoration: underline;
}


/* DOCS SIDEBAR (desktop view) */
.theme-doc-sidebar-menu .menu__link {
  color: #000000;
}
[data-theme='dark'] .theme-doc-sidebar-menu .menu__link {
    color: #dadde1;
}

.theme-doc-sidebar-menu .menu__link:hover,
.theme-doc-sidebar-menu .menu__link--active {
  color: #3366cc;
}
[data-theme='dark'] .theme-doc-sidebar-menu .menu__link:hover,
[data-theme='dark'] .theme-doc-sidebar-menu .menu__link--active {
    color: #3366cc;
}

/* MOBILE NAV MENU */
@media (max-width: 996px) {
  .menu__link {
    color: #ffffff;
    background-color: #375298;
    font-weight: 400;
  }
  .menu__link:hover,
  .menu__link--active {
    color: #ffffff;
    text-decoration: underline;
    background-color: #375298;
  }

  /* sidebar */
  .theme-doc-sidebar-menu .menu__link {
    color: #ffffff;
  }
  .theme-doc-sidebar-menu .menu__link:hover,
  .theme-doc-sidebar-menu .menu__link--active {
    color: #ffffff;
  }
}

.footer {
    background-color: #101010;
}

/* Add underscore to new dropdown navbar item when active. */
.navbar__link.active {
  text-decoration: underline;
}
