.column h2 {
    margin-bottom: 1rem;
}

/* In place of using .introContainer for text-only blocks, use a div like this. */
.sectionIntro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 0;
  line-height: 1.4rem;
}

.sectionHeader {
    display: flex;
    padding: 0px 0px 0px 0px;
}

.sectionHeader h1 {
    margin-bottom: 0px;
    color: #000000;
}
[data-theme="dark"] .sectionHeader h1 {
    color: #e5e5e5;
}

.sectionHeader h2 {
    margin-bottom: 0px;
    color: #992600;
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
