.generalInfoWrapper {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border: 0;
}

.twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    padding: 0px 0px 0px 0px;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.card {
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid #909090;
    border-radius: 12px;
    line-height: 1.4rem;
}

/* Dark mode */
[data-theme='dark'] .card {
    background: #1d1f21; /* dark gray */
    color: #e5e5e5; /* light text */
}

[data-theme='dark'] .column h2 {
    color: #f0f0f0;
}

.twoColumn h2 {
    color: #992600;
}
[data-theme='dark'] .twoColumn h2 {
    color: #336699;
}

[data-theme='dark'] .generalInfoWrapper {
    background: #303030;
    border: solid 1px #505050;
    color: #e5e5e5;
}
